<div class="bredcrumbs" >
    <span routerLink="/teacher">Dashboard </span>
    <span class="material-icons">
        keyboard_arrow_right
    </span>
    <span> Mi Perfil</span>
</div>
<form #adminForm="ngForm">
    <section class="m-page-content ed-grid rows-gap s-gap-1 m-gap-2 s-grid-1 m-grid-1 lg-grid-5">
        <article>
            <aside class="m-border-content m-main-center">
                <div style="text-align: center;">
                    <img src="../../../../assets/img/avatar.jpg" class="m-photo" id="photoperfil">
                    <div class="m-btn-perfil">
                        <app-upload-file allowedfiles="jpg,png" typeUpload="profile" nameGroup="profilePic"
                            folder="admin_doc" (responseData)="getDataFiles($event)"></app-upload-file>
                    </div>
                    <div>{{modelAdmin.name}} {{modelAdmin.lastName}} </div>
                </div>
            </aside>
            <aside class="m-options-profile ">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#informacionPersonal" role="tab" data-toggle="tab">Información
                            personal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#informacionCuenta" role="tab" data-toggle="tab">Información de
                            cuenta</a>
                    </li>
                </ul>
            </aside>
            <aside class="m-btn-web">
                <button (click)="editAdmin()" class="btn btn-primary" [disabled]="!adminForm.form.valid">Guardar
                    Cambios</button><br><br>
                <button class="btn btn-danger" routerLink="/teacher">Cancelar</button>
            </aside>
        </article>
        <article class="m-cols-4">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active show" id="informacionPersonal">
                    <aside class="m-content-admin">
                        <section class="m-page-content ed-grid rows-gap s-gap-1 m-gap-1 s-grid-1 m-grid-3 lg-grid-6">
                            <div class="m-cols-1 lg-cols-2">
                                <div class="group">
                                    <input placeholder="{{ 'adminInformacion.fullsurnames' | translate }}" type="text" name="lastName" [(ngModel)]="modelAdmin.lastName"
                                        #lastName=ngModel required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="m-title-input">{{ 'adminInformacion.fullname' | translate }}</label>
                                    <div class="m-error-input"
                                        *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                                        <span *ngIf='lastName.errors.required'>El Apellido es requerido.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="m-cols-1 lg-cols-2">
                                <div class="group">
                                    <input placeholder="{{ 'adminInformacion.fullname' | translate }}" type="text" name="name" [(ngModel)]="modelAdmin.name" #name=ngModel required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div class="m-error-input" *ngIf="name.invalid && (name.dirty || name.touched)">
                                        <span *ngIf='name.errors.required'>El Nombre es requerido.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="m-cols-1 lg-cols-2">
                            </div>
                            <div class="m-cols-1 lg-cols-1">
                                <div class="m-title-input">{{ 'adminInformacion.birthdate' | translate }}</div>
                                <br><br>
                                <mat-list-item class="primary-imenu-item">
                                    <mat-form-field class="select-form">
                                        <mat-select placeholder="{{ 'adminInformacion.day' | translate }}" name="birthday" class="filter-select" 
                                            [(ngModel)]="modelAdmin.birthday">
                                            <mat-option *ngFor="let birth of birthday" value="{{birth.num}}">
                                                {{birth.num}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-list-item>
                                <div class="m-error-input" *ngIf='!errorDate'>
                                    <span>Debes ingresar una fecha valida.</span>
                                </div>
                            </div>
                            <div class="m-cols-1 lg-cols-1">
                                <br><br><br>
                                <mat-list-item class="primary-imenu-item">
                                    <mat-form-field class="select-form">
                                        <mat-select placeholder="{{ 'adminInformacion.month' | translate }}" name="birthmonth" class="filter-select" 
                                            [(ngModel)]="modelAdmin.birthmonth">
                                            <mat-option *ngFor="let item of month" value="{{item.id}}">{{item.mes}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                            <div class="m-cols-1 lg-cols-1">
                                <br><br><br>
                                <mat-list-item class="primary-imenu-item">
                                    <mat-form-field class="select-form">
                                        <mat-select placeholder="{{ 'adminInformacion.year' | translate }}" name="birthyear" class="filter-select" 
                                            [(ngModel)]="modelAdmin.birthyear">
                                            <mat-option *ngFor="let item of year" value="{{item.year}}">{{item.year}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                            <div class="m-cols-1 lg-cols-1">
                                <div class="m-title-input">Teléfono</div>
                                <br><br>
                                <div class="group">
                                    <input placeholder="{{ 'adminInformacion.prefix' | translate }}" type="text" name="prefix"  [(ngModel)]="modelAdmin.prefix">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                </div>
                            </div>
                            <div class="m-cols-1 lg-cols-2">
                                <br><br><br>
                                <div class="group">
                                    <input placeholder="{{ 'adminInformacion.number' | translate }}" type="text" name="cellphone" [(ngModel)]="modelAdmin.cellphone">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                </div>
                            </div>

                            <div class="m-cols-1 lg-cols-2">
                                <div class="m-title-input">{{ 'adminInformacion.fromCity' | translate }}</div>
                                <br>
                                <mat-list-item class="primary-imenu-item">
                                    <mat-form-field class="select-form">
                                        <mat-select placeholder="{{ 'adminInformacion.country' | translate }}"  name="birthCountry" class="filter-select"
                                            (selectionChange)="viewStatesBirth($event.value)"
                                            [(ngModel)]="modelAdmin.birthCountry">
                                            <mat-option *ngFor="let pais of countries" value="{{pais.id}}">{{pais.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>

                            <div>
                                <br><br>
                                <mat-list-item class="primary-imenu-item">
                                    <mat-form-field class="select-form">
                                        <mat-select  placeholder="{{ 'adminInformacion.state' | translate }}"  name="birthState" class="filter-select"
                                            [(ngModel)]="modelAdmin.birthState">
                                            <mat-option *ngFor="let state of birthStates" value="{{state.id}}">
                                                {{state.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>

                            <div class="m-cols-1 lg-cols-2">
                                <div class="m-title-input">{{ 'adminInformacion.fromLives' | translate }}</div>
                                <br>
                                <mat-list-item class="primary-imenu-item">
                                    <mat-form-field class="select-form">
                                        <mat-select placeholder="{{ 'adminInformacion.country' | translate }}" name="residentCountry" class="filter-select"
                                            (selectionChange)="viewStatesResident($event.value)"
                                            [(ngModel)]="modelAdmin.residentCountry">
                                            <mat-option *ngFor="let pais of countries" value="{{pais.id}}">{{pais.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>

                            <div>
                                <br><br>
                                <mat-list-item class="primary-imenu-item">
                                    <mat-form-field class="select-form">
                                        <mat-select placeholder="{{ 'adminInformacion.state' | translate }}" name="residentState" class="filter-select"
                                            [(ngModel)]="modelAdmin.residentState">
                                            <mat-option *ngFor="let state of residentStates" value="{{state.id}}">
                                                {{state.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>

                            <div class="m-cols-1 lg-cols-2">
                                <br><br><br>
                                <mat-list-item class="primary-imenu-item">
                                    <mat-form-field class="select-form">
                                        <label class="m-title-input">{{ 'adminInformacion.timeZone' | translate
                                            }}</label>
                                        <mat-select placeholder="Seleccione" name="timeZone" class="filter-select"
                                            [(ngModel)]="modelAdmin.timeZone">
                                            <mat-option *ngFor="let zone of timeZone" value="{{zone.id}}">
                                                {{zone.timezone}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-list-item>
                            </div>
                        </section>
                    </aside>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="informacionCuenta">
                    <aside class="m-content-admin">
                        <div class="m-content-pass">
                            <div class="m-left">
                                <div class="m-title-input" style="font-size: 18px;">¿Cómo elegir una contraseña
                                    correcta?</div>
                                <br>
                                <div class="m-checks">
                                    <span class="material-icons m-icons-aspa">check</span>
                                    <span>
                                        Use 6 caracteres o más
                                    </span>
                                </div>
                                <div class="m-checks">
                                    <span class="material-icons m-icons-aspa">check</span>
                                    <span>
                                        Use letras mayúsculas o minúsculas
                                    </span>
                                </div>
                                <div class="m-checks">
                                    <span class="material-icons m-icons-aspa">check</span>
                                    <span>
                                        Use números
                                    </span>
                                </div>
                                <div class="m-checks">
                                    <span class="material-icons m-icons-aspa">check</span>
                                    <span>
                                        Use caracteres especiales
                                    </span>
                                </div>
                            </div>
                            <div class="m-main-end m-btn-web">
                                <span class="material-icons m-icon-escudo ">
                                    policy
                                </span>
                            </div>
                        </div>
                        <section class="m-page-content ed-grid rows-gap s-gap-1 m-gap-2 s-grid-1 m-grid-2 lg-grid-2">
                            <div>
                                <div class="group">
                                    <input  placeholder="{{ 'adminInformacion.email' | translate }}" [(ngModel)]="modelAdmin.email" name="email" #email=ngModel type="text"
                                        required email>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="m-title-input">{{ 'adminInformacion.email' | translate
                                        }}</label>
                                    <div class="m-error-input" *ngIf="email.invalid && (email.dirty || email.touched)">
                                        <span *ngIf='email.errors.required'>El email es requerido.</span>
                                        <span *ngIf='email.errors.email'>El email debe tener un formato valido.</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="group">
                                    <input  placeholder="{{ 'adminInformacion.emailRepeat' | translate }}" [(ngModel)]="modelAdmin.emailConfirm" name="emailRepeat" #emailRepeat=ngModel
                                        type="text" required email>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div class="m-error-input">
                                        <div *ngIf="emailRepeat.invalid && (emailRepeat.dirty || emailRepeat.touched)">
                                            <span *ngIf='emailRepeat.errors.required'>El email es requerido.</span>
                                            <span *ngIf='emailRepeat.errors.email'>El email debe tener un formato
                                                valido.</span>
                                        </div>
                                        <!--  <span *ngIf='!errorEmail'>Los emails nos son iguales.</span> -->
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="group">
                                    <input placeholder="{{ 'adminInformacion.password' | translate }}" [(ngModel)]="modelAdmin.newpassword" name="pasword" type="text"
                                        #paypalId=ngModel>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="m-title-input">{{ 'adminInformacion.newpassword' | translate
                                        }}</label>
                                    <div class="m-error-input"
                                        *ngIf="paypalId.invalid && (paypalId.dirty || paypalId.touched)">
                                        <span *ngIf='paypalId.errors.required'>El paypalId es requerido.</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="group">
                                    <input placeholder="{{ 'adminInformacion.newpassword' | translate }}" [(ngModel)]="modelAdmin.passwordConfirm" name="newpasword"
                                        #paypalEmail=ngModel type="text">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div class="m-error-input"
                                        *ngIf="paypalEmail.invalid && (paypalEmail.dirty || paypalEmail.touched)">
                                        <span *ngIf='paypalEmail.errors.required'>El email es requerido.</span>
                                    </div>
                                </div>
                            </div>


                        </section>
                    </aside>
                </div>
                <br>
                <aside class="m-btn-movil" style="display: none;">
                    <button (click)="editAdmin()" class="btn btn-primary" [disabled]="!adminForm.form.valid">Guardar
                        Cambios</button><br><br>
                    <button class="btn btn-danger" routerLink="/teacher">Cancelar</button>
                </aside>
            </div>

        </article>
    </section>
</form>

<!-- <app-informacion-personal></app-informacion-personal>
<app-informacion-cuenta></app-informacion-cuenta> -->