<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/teacher">teacher</a></li>
    <li class="breadcrumb-item active"><a routerLink="/view">View</a></li>
  </ol>
</nav>
<section class="m-horario-content">
  <div class="ed-grid rows-gap s-gap-05 m-gap-1 s-grid-1 m-grid-3">
    <a class="m-horario-tab m-main-center">Alumnos</a>
    <a class="m-teacher-tab m-main-center">Talleres</a>
    <a class="m-teacher-tab m-main-center">Solicitudes(2)</a>
  </div>
  <br>
</section>

<a routerLink="/chat">chat</a>