<section class="ed-grid rows-gap s-gap-05 m-gap-1 s-grid-1 m-grid-2 lg-grid-2">
    <div>
        <h5>Indicanos tu fecha de nacimiento:</h5>
    </div>
    <div class="m-rows-3">
        <img src=""> Imagen
    </div>
    <div>
        <div class="ed-grid rows-gap s-gap-05 m-gap-1 s-grid-1 m-grid-2 lg-grid-3">
            <div>20</div>
            <div>Enero</div>
            <div>1998</div>
        </div>
    </div>
</section>

<section class="m-sobre-content  ed-grid rows-gap s-gap-05 m-gap-1 s-grid-1 m-grid-2 lg-grid-3">
    <div class="m-sobre-content-item">
        <h3>Sobre este exámen</h3>
        <div>Est ei erat mucius quaeque. Ei his quas phaedrum, efficiantur
            mediocritatem ne sed, hinc oratio blandit ei sed. Blandit gloriatur
            eam et. Brute noluisse per et, verear disputando neglegentur at
            quo. Sea quem legere ei, unum soluta ne duo. Ludus complectitur
            quo te, ut vide autem homero pro.
            Dicunt percipit deserunt ut usu. Aliquip delenit an eam, vocent
            vituperata vim ea. Ei mollis audire interpretaris cum, ei impedit
            fierent sea. Ius at homero noster prompta, ea sit dignissim
            vituperata efficiendi. Natum placerat ad mei.</div>
    </div>
    <div class="m-sobre-content-item ">
        <h3>Detalle del exámen</h3>
        <div>Tipo: PreseSelección</div>
        <div>Tiempo: 30 min.</div>
        <div>Potulante</div>
    </div>
    <div>
        <h3>Objetivo del exámen</h3>
        <div>Est ei erat mucius quaeque. Ei
            his quas</div>
        <div>Est ei erat mucius quaeque.</div>
        <div>Est ei erat mucius quaeque.</div>
        <div>Est ei erat mucius quaeque.</div>
    </div>
</section>
<div style="text-align: right; margin-right: 330px;">
    <button (click)="startExamen()" class="bnn btn-primary">Empezar examen</button>
</div>