<div class="bredcrumbs">
    <span routerLink="/teacher">Dashboard </span>
    <span class="material-icons">
        keyboard_arrow_right
    </span>
    <span> Mi Notificaciones</span>
</div>
<br>
<section class="m-content-notify">
<div class="m-item-notify">
    <button type="button" class="close" >&times;</button>
    <section class="m-page-content ed-grid rows-gap s-gap-1 m-gap-2 s-grid-1 m-grid-2 lg-grid-2">
        <div class="m-title-notify">Día de acción de gracias</div>
        <div class="m-main-end m-text-date" style="margin-right: 80px;">
            <span class="material-icons">
                watch_later
            </span> 26 de Octubre 2020 - 12:00 PM</div>
        <div class="m-cols-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
        </div>
    </section>
</div>
<div class=" m-item-notify" style="background-color: white;">
    <button type="button" class="close" >&times;</button>
    <section class="m-page-content ed-grid rows-gap s-gap-1 m-gap-2 s-grid-1 m-grid-1 lg-grid-2">
        <div class="m-title-notify">Día de acción de gracias</div>
        <div class="m-main-end m-text-date" style="margin-right: 80px;">
            <span class="material-icons">
                watch_later
            </span> 26 de Octubre 2020 - 12:00 PM</div>
        <div class="m-cols-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
        </div>
    </section>
</div>
</section>


