
<div class="bredcrumbs">
    <span >Dashboard</span>
</div>
<section class="m-horario-content">
    <div class="m-page-content ed-grid  s-grid-3 m-grid-3" >
        <div style="padding-left: 46px;"  class="m-tab-unselect m-main-center" routerLink="/teacher">
            <div>Profesores</div>
        </div>
        <div class="m-tab-unselect m-main-center" routerLink="/private-student">
            <div>Alumnos Particulares</div><br>
        </div>

        <div class="m-tab-select m-main-center" routerLink="/workshop-student">
            <div>Alumnos Talleres</div><br>
        </div>
    </div>
    <br>
    <div class="m-content-tabs-item ed-grid s-grid-2 m-grid-2" style="border-radius: 18px;">
        <div class="m-item-unselect m-main-center" [class.m-item-select]="statusTab.activos" (click)="OpenActivos()">
            Activos</div>
        <div class="m-item-unselect m-main-center" [class.m-item-select]="statusTab.inactivos"
            (click)="OpenInactivos()">Inactivos</div>
    </div>
</section>
<app-activos *ngIf="statusTab.activos"></app-activos>
<app-inactivos *ngIf="statusTab.inactivos"></app-inactivos>