/* STEPERS */
/* .m-content-tabs-item{
    background-color: #e0e0e0;
    border-radius: 100px;
    padding: 20px ;
    
  } 
  .nav-link{
    border: 0;
    padding: 10px 28px ;
} 
  .nav-link:hover{
      border: 0;
  } 

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    width: 100%;
    height: 41px;
    padding: 10px 28px ;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    font-weight: 500;
    border: 0;
  }
  ul li a{
    font-weight: 300;
    color: #444444;
  }
 */
  /* END STEPERS */
  