
<section class="m-examen-content">
    <h3>
        <span id="time">20:00</span>
    </h3>
<div class="m-examen-item">
    Pregunta 1
    Female speaker: What do you do in the morning?
    Male speaker: I run on the beach.
    Female speaker: I don’t like running. I cook breakfast in the morning.
    <h3>Written question: What does the man do in the morning?</h3>
    <hr>
    <div>He cooks breakfast</div>
    <hr>
    <div>He cooks breakfast</div>
    <hr>
    <div>He cooks breakfast</div>
    <hr>
    <div>He cooks breakfast</div>
</div>
</section>
<button  (click)="SendQuestions()" class="btn btn-info">Enviar</button>