a{
    color: #ffffff;
}
.m-icons-pag{
    font-size: 38px;
    color: #ffffff;
}
.m-fixed-sidebar{
    position: fixed;
    top: 0;
    z-index: 1000;
}
.m-line-module{
    border-left: 4px solid white;
}

