a{
    color: #ffffff;
}
.m-icons-pag{
    font-size: 24px;
}
.m-fixed-sidebar{
    position: fixed;
    top: 0;
    z-index: 1000;
    padding-left: 4px;
    box-shadow: 0 0px 5px 0 rgb(0 0 0);
}
.m-line-module{
    border-left: 4px solid white;
    color: #ffffff !important;
    opacity: inherit;
    margin-left: -4px;
}
a{
    text-decoration: none;
}
.action-bar-item:hover{
    color: #ffffff !important;
    opacity: inherit;
}

