<section class="m-filters">
  <article class="m-page-content ed-grid m-main-end rows-gap s-gap-05 m-gap-05  s-grid-1 m-grid-3 lg-grid-6">
    <div>
      <mat-list-item class="primary-imenu-item" role="listitem">
        <mat-form-field class="select-form">
          <mat-select placeholder="Género" name="genero" class="filter-select" [(ngModel)]="jsonFilter.filterDTO.gender"
          multiple (ngModelChange)="filtersOptions('')">
            <mat-option value="M">Masculino</mat-option>
            <mat-option value="F">Femenino</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
    </div>
    <div>
      <mat-list-item class="primary-imenu-item" role="listitem">
        <mat-form-field class="select-form">
          <mat-select placeholder="Especialidad" name="especialidad" class="filter-select" [(ngModel)]="jsonFilter.filterDTO.specialization"
            multiple (ngModelChange)="filtersOptions('')">
            <mat-option *ngFor="let item of Specializations" [value]="item">
              {{item.englishName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
    </div>
    <div>
      <mat-list-item class="primary-imenu-item" role="listitem">
        <mat-form-field class="select-form">
          <mat-select placeholder="Tipo de Ingles" name="tipoIngles" class="filter-select" [(ngModel)]="jsonFilter.filterDTO.englishType"
          multiple (ngModelChange)="filtersOptions('')">
            <mat-option value="American">Inglés Americano</mat-option>
            <mat-option value="British">Inglés Británico</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
    </div>
    <div>
      <mat-list-item class="primary-imenu-item" role="listitem">
        <mat-form-field class="select-form">
          <mat-select placeholder="Edades que enseña" name="edades" class="filter-select" [(ngModel)]="jsonFilter.filterDTO.target" multiple
            (ngModelChange)="filtersOptions('')">
            <mat-option *ngFor="let item of edades" [value]="item">
              {{item.englishName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
    </div>
    <div class="s-cols-1 m-cols-2">
      <div class="input-group" style="float: left;width: auto;">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <span class="material-icons">
              search
            </span>
          </span>
        </div>
        <input #SearchInput type="text" class="form-control m-txt-search" [(ngModel)]="jsonFilter.filterDTO.name"
          placeholder="Buscar">
      </div>
      <a href="{{_backendUrl.backendApis}}api/allUser/download?role=ROLE_TEACHER&status=APPROVED&active=false" class="m-line-vertical m-main-end" style="float: left;">
        <span class="material-icons m-export">
          save_alt
        </span>
      </a>
    </div>
  </article>
</section>




<div class="example-container mat-elevation-z8">
  <div class="example-table-container style-1">
    <table mat-table [dataSource]="sortedData" class="example-table" matSort matSortActive="name" matSortDisableClear
      matSortDirection="desc" (matSortChange)="sortData($event)">
      <!-- Number Column -->
      <ng-container matColumnDef="photo" >
        <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <td mat-cell *matCellDef="let row">
          <div>
            <img *ngIf="!row.profilePic" class="m-photo-perfil-grid" src="../../../../../assets/img/avatar.jpg">
            <img *ngIf="row.profilePic" class="m-photo-perfil-grid" src="{{row.profilePic}}">
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Nombre </th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef><aside >Apellidos</aside></th>
        <td mat-cell *matCellDef="let row" >{{row.lastName}}</td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="ranking">
        <th mat-header-cell *matHeaderCellDef><nav>Ranking</nav></th>
        <td mat-cell *matCellDef="let row"></td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> <nav>Correo Eléctronico</nav></th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> <nav>Teléfono</nav></th>
        <td mat-cell *matCellDef="let row">{{row.cellphone}}</td>
      </ng-container>

      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef>
          <nav></nav>
        </th>
        <td mat-cell *matCellDef="let row" >
          <div>
            <span class="material-icons m-router-profile" (click)="OpenProfile(row)">
              account_circle
            </span>
          </div>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator  [pageSize]="20" [length]="resultsLength" (page)="getServerDataPaginator($event)" >
  </mat-paginator>
</div>