<section class="m-filters">
  <article class="m-page-content ed-grid m-main-end rows-gap s-gap-05 m-gap-05  s-grid-1 m-grid-3 lg-grid-6">
    <div class="m-cols-4 m-div-hidden"></div>
    <div class="s-cols-1 m-cols-2">
      <div class="input-group" style="float: left;width: 45%">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <span class="material-icons">
              search
            </span>
          </span>
        </div>
        <input #SearchInput type="text" class="form-control m-txt-search" [(ngModel)]="SendjsonFilter.filterDTO.name"
          placeholder="Buscar">
      </div>
      <a  href="{{_backendUrl.backendApis}}api/allUser/download?role=ROLE_STUDENT&studentType=STUDENT_PRIVATE&active=true" class="m-line-vertical m-main-end" style="float: left;">
        <span class="material-icons m-export">
          save_alt
        </span>
      </a>
      <div class="s-main-start">
        <div class="m-add-teacher" routerLink="add">
          <div id="m-add" style="float: left;">Agregar</div>
          <span style="font-size: 20px;" class="material-icons">add</span>
        </div>
      </div>
    </div>
  </article>
</section>
<div class="example-container mat-elevation-z8">
  <div class="example-table-container style-1">
    <table mat-table [dataSource]="sortedData" class="example-table" matSort matSortActive="name" matSortDisableClear
      matSortDirection="desc"  (matSortChange)="sortData($event)" >
      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef>
          <nav style="width: 55px;"></nav>
        </th>
        <td mat-cell *matCellDef="let row">
          <div>
            <img *ngIf="!row.profilePic" class="m-photo-perfil-grid" src="../../../../../assets/img/avatar.jpg">
            <img *ngIf="row.profilePic" class="m-photo-perfil-grid" src="{{row.profilePic}}">
            <span class="material-icons m-color-yellow">
              star_rate
            </span>
          </div>
        </td>
      </ng-container>
      <!-- Number Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Nombre</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef>
          <aside>Apellidos</aside>
        </th>
        <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>
          <nav>Correo Eléctronico</nav>
        </th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
      </ng-container>

      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef>
          <nav>Teléfono</nav>
        </th>
        <td mat-cell *matCellDef="let row">{{row.cellphone}}</td>
      </ng-container>

      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef>
          <nav></nav>
        </th>
        <td mat-cell *matCellDef="let row">
          <span class="material-icons m-router-view" routerLink="view">
            remove_red_eye
          </span>&nbsp;&nbsp;
          <span class="material-icons m-router-profile">
            description
          </span>&nbsp;&nbsp;
          <span class="material-icons m-router-profile" (click)="OpenProfile(row)">
            account_circle
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator  [pageSize]="20" [length]="resultsLength" (page)="getServerDataPaginator($event)" >
  </mat-paginator>
</div>